@tailwind base;
@tailwind components;
@tailwind utilities;
	
body {
	background-color: #ECE5C7;
}

.btn {
	@apply inline-block text-center cursor-pointer w-full bg-light-green border p-3 rounded-md hover:bg-dark-blue hover:border hover:border-light-green hover:text-white
}


.nav-logo {
	transform: translate(-50%, 0);
	filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.5));
	color: #fff;
	font-weight: bold;
	z-index: 250;
}

.nav-container {
	box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.25);
	z-index: 199;
}

.menu {
	position: relative;
	z-index: 225;
}

.menu .list-item a {
	padding: 20px 22px;
	color: #354259;
	font-size: 1rem;
	font-weight: bold;
	transition: all 0.3s ease-in-out;
}

.menu .list-item a:hover {
	background-color: #354259;
	color: #C2DED1;
}

.mobile {
	display: none;
	position: relative;
	z-index: 150;
}

.mobile-wrapper {
	width: 50%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: -100%;
	background-color: #C2DED1;
	z-index: 200;
	transition: all 0.4s ease-in;
}

.opened {
	left: 0;
}

/* populer Carousel*/

.sliderWrapper {
	width: 90%;
	min-height: 15rem;
	margin: 2rem auto;
	margin-bottom: 2rem;
}

.splide__pagination {
	bottom: 0;
	padding: 10px;
}

.splide__pagination__page {
	background-color: red !important;
}

.splide__pagination__page.is-active {
	background-color: blue !important;
}

.splide__slide img {
	height: 200px;
	vertical-align: bottom;
	width: 250px;
	object-fit: contain;
}

.card {
	min-height: 25rem;
}

/*event section */
.events-container {
	margin-top: 20px;
	padding: 5rem 2rem;
	height: auto;
	background-color: #354259;
}

.event {
	@apply mx-auto
}

.event-description {
	@apply text-center text-xl my-3 text-white border-x-2
}

.event img {
	width: 250px;
	height: 150px;
	object-fit: cover;
}

@media screen and (max-width: 1000px) {
	.nav-logo {
		font-size: 1.5rem;
	}

	.menu {
		display: none;
	}

	.open-menu {
		left: 0;
		top: 250px;
		font-size: 0.9rem;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		position: absolute;
		height: 400px;
		width: 50%;
	}

	.mobile {
		display: flex;
	}


	.sliderWrapper {
		min-height: 22rem;
	}

}