@tailwind base;
@tailwind components;
@tailwind utilities;


body {
	background-color: #ECE5C7;
}

.btn {
	@apply w-full bg-light-green border p-3 rounded-md hover:bg-dark-blue hover:border hover:border-light-green hover:text-white
}


.nav-logo {
	transform: translate(-50%, 0);
	filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.5));
	color: #fff;
	font-weight: bold;
}

.nav-container {
	box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.25);
	z-index: 150;
}

.menu {
	position: relative;
	z-index: 151;
}

.menu .list-item a {
	padding: 20px 22px;
	color: #354259;
	font-size: 1.2rem;
	font-weight: bold;
	transition: all 0.3s ease-in-out;
}

.menu .list-item a:hover {
	background-color: #354259;
	color: #C2DED1;
}

.mobile {
	display: none;
	position: relative;
	z-index: 99;
}

.mobile-wrapper {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: -100%;
	background-color: #C2DED1;
	z-index: 100;
	transition: all 0.4s ease-in;
}

.opened {
	left: -50%;
}

/* populer Carousel*/

.sliderWrapper {
	width: 90%;
	min-height: 15rem;
	margin: 3rem auto;
	margin-bottom: 2rem;
}

.splide__pagination {
	bottom: 0;
	padding: 10px;
	background: #354259;
}

.card {
	min-height: 20rem;
}

/*event section */
.events-container {
	padding: 5rem 2rem;
	height: auto;
	background-color: #354259;
	clip-path: polygon(0 0%, 100% 05%, 100% 100%, 0% 100%);
}

.event {
	@apply mx-auto
}
.event-description {
	@apply text-center text-xl my-3 text-white border-x-2
}
@media screen and (max-width: 1000px) {
	.nav-logo {
		font-size: 1.5rem;
	}

	.menu {
		display: none;
	}

	.open-menu {
		left: 0;
		margin-top: 5rem;
		width: 40%;
		height: 500px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		position: absolute;
	}

	.mobile {
		display: flex;
	}

	.card {
		min-height: 20rem;
	}

	.sliderWrapper {
		min-height: 18rem;
	}

}